/* your styles go here */
.intro-span-h1{
	color: #E83556;
}
.intro-span-text2{
	color: #4fbfa8;
}
.skills-span-text1{
	color: #F1684E;
}
.skills-span-text2{
	color: #52B3D9;
}
.section-employer{
	background:white;
	color: inherit;
}
.div-align-center{
	text-align:center;
}
.sec-column p{
	text-align:center;
}
.sec-column .icon{
	font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 0 #2d7b6b;
}

/***Timeline styles***
.timeline-heading1{

  padding: 15px;
  margin: 0;
  color: #4fbfa8;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
	background: #2ecc71;

}
**/

.panel-bgcolor{
	background-color:  #4fbfa8;
}
.my-image{
	text-shadow: 5px 5px 0 #2d7b6b;
}
.intro-bg{
	background-color: #4fbfa8;
}
.intro-anim-center{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.fill-space{
	height:20%;
}
body #all{
	background-color: #4fbfa8;
	height: 100%;
	color: white;
	margin-top: -15px;
	text-align: center;
	}
